{% import _self as menuRender %}

<ul class="sidebar-menu">
    {% for element in menu %}
        <li class="treeview">
            <a href="#">
                {% if element.icon is defined %}
                    <i class="fa fa-{{ element.icon }}"></i>
                {% endif %}
                <span>{{ element.label }}</span>
                {% if(element.elements is defined) %}
                    <i class="fa pull-right fa-angle-left"></i>
                {% endif %}
            </a>
            {{ menuRender.showSubMenu(element.elements) }}
        </li>
    {% endfor %}
</ul>

{% macro showSubMenu(elements) %}
    <ul class="treeview-menu">
        {% for element in elements %}
            <li>
                <a href="#" style="margin-left: 10px;">
                    {% if element.icon is defined and element.icon is not null %}
                        <i class="fa fa-{{ element.icon }}"></i>
                    {% else %}
                        <i class="fa fa-angle-double-right"></i>
                    {% endif %}
                    {{ element.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}